/*Style for onclick effect*/
.left {  width:210px; height:auto; text-align:justify; margin-left:0px; }
ul#nav, ul#nav ul
{ list-style-type:none; margin: 0; padding: 0; width: 17em; }
ul#nav a { display: block; text-decoration: none; cursor:pointer;}
ul#nav li { margin-top: 1px; }
ul#nav li a { background: #333; color: #fff; padding: 0.5em; padding-left:60px; height: 25px; vertical-align: middle;}
ul#nav li a:hover { background: #000; cursor:pointer;}
ul#nav li ul li a { background: #ccc; color: #000; padding-left: 60px; cursor:pointer;}
ul#nav li ul li a:hover { background: #aaa; border-left: 5px #000 solid; padding-left: 60px; cursor:pointer;} 

#nav ul 
{
    padding: 1px;
    display: none;
}

/*Style for onmouse over effect*/

ul#menu, ul#menu ul
{ list-style-type:none; margin: 0; padding: 0; width: 17em; }
ul#menu a { display: block; text-decoration: none; cursor:pointer;}
ul#menu li { margin-top: 1px; }
ul#menu li a { background: #333; color: #fff; padding: 0.5em; padding-left:60px; height: 25px; vertical-align: middle;}
ul#menu li a:hover { background: #000; cursor:pointer;}
ul#menu li ul li a { background: #ccc; color: #000; padding-left: 60px; cursor:pointer;}
ul#menu li ul li a:hover { background: #aaa; border-left: 5px #000 solid; padding-left: 60px; cursor:pointer;} 

#menu ul 
{
    padding: 1px;
    display: none;
}

.resp_code {
    background: none repeat scroll 0 0 #f8f8f8;
    /*border: 1px solid #ddd;*/
    border-radius: 0.25em;
    color: #333;
    font: 1em/1.3em Tahoma,Geneva,sans-serif;
    margin: 5px 10px 10px;
    overflow: auto;
    padding: 10px 20px;
   
}
    *, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    background: #fff none repeat scroll 0 0;
    color: #666;
    font: 0.81em/150% Tahoma,Geneva,sans-serif;
    word-wrap: break-word;
}
    
    
    
    
    
    
  